from mixins import make_post
html
	head
		+h.headers
		block title
			title= posts.keywords or post.title or posts.tags.join('+') or posts.category.title or site.title
		+h.load('markdown')
		+h.load('/fb_static/lib/pure.css')
		+h.load('/template/style.scss')
		+h.load('/template/bigfoot-default.css')
		+h.load('/template/bigfoot-default.css')
		+h.load('//cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap-grid.min.css')
		
	body:.body_container
		#header
			.site-name
				h1.hidden= site.title
				a#logo(href='/')= site.title
				p.description= site.raw_content
			#nav-menu
				+site.just_nav

		#layout.pure-g
			.pure-u-1.pure-u-md-17-24:.content_container
				block content
			.pure-u-7-24:#sidebar
				.widget
					#search
						input#search_value.text(placeholder="Search",type="text",value=request.args.s, onkeyup="if (event.keyCode == 13) search();")
				.widget
					.widget-title= _('Recent')
					newest_posts = get_data(path='/', type='post', limit=8, sort='desc', with_page=False)
					ul: for post in newest_posts
						li: a(href=post.url, title=post.title)= post.title

		#footer= '© '
			a(href='/', real="nofollow")= site.title
			span. Powered by
			a(rel="nofollow", target="_blank", href="https://www.bitcron.com") Bitcron
			span . Theme by
			a(rel="nofollow", target="_blank", href="http://chopstack.com") cho

		+load('/template/duoshuo.css')
		+load('/template/bigfoot.js')

		script
			function search() {
				if (document.getElementById('search_value').value) {
				  location.href = location.protocol + '//' + location.host + '?s=' + document.getElementById('search_value').value;
				}
				return false;
			 }