extends base.jade

block title
	title= post.title + " - " + site.title

block content
	.post.post-page
		h1.post-title= post.title
		.post-meta= post.date('%B %d, %Y')
		if post.metadata.password
			include include/show_content.jade
		else
			.post-content.markdown= post.content
		if post.tags
			.tags
				for tag in post.tags
					a(href="/tag/{{tag}}")= tag
		.author
  			.author-inner
    			.author-avatar
      				img(src='/avatar.png', alt='{{site.avatar}}')
    			.author-bio
      				h3 {{site.title}}
      				|           {{site.configs.sub_title}}
  			.author-bg(style="background-image:url('/avatar.png');")		

			.related_posts.clearfix
				if posts.pre_one
					a.action.pre(href=posts.pre_one.url)
						.arrow.icon-arrow2_left
						span= posts.pre_one.title
				if posts.next_one
					a.action.next(href=posts.next_one.url)
						.arrow.icon-arrow2_right
						span= posts.next_one.title

			+post.comments_as_html()			